/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#57ddff, #c058f3);
  width: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: calc(100vh + 0.4px);
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  background-color: #161722;
  background-image: url("../images/bg-desktop-dark.jpg");
  background-size: 100vw 0;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  animation: backgroundDesktop 800ms 500ms forwards ease-in-out;
  transition: 500ms;
}
@media only screen and (max-width: 768px) {
  body {
    background-size: 100vw 100px;
    background-image: url("../images/bg-mobile-dark.jpg");
    animation: backgroundMobile 800ms 500ms forwards ease-in-out;
  }
}

@keyframes backgroundDesktop {
  0% {
    background-size: 100vw 0;
    opacity: 0;
  }
  50% {
    background-size: 100vw 300px;
    opacity: 1;
  }
  100% {
    background-size: 100vw 250px;
  }
}
@keyframes backgroundMobile {
  0% {
    background-size: 100vw 0;
    opacity: 0;
  }
  50% {
    background-size: 100vw 250px;
    opacity: 1;
  }
  100% {
    background-size: 100vw 180px;
  }
}
.container {
  min-width: 400px;
  width: 35vw;
  height: auto;
  margin: 100px auto 50px;
  transition: 500ms;
}
@media only screen and (max-width: 768px) {
  .container {
    min-width: 320px;
    width: 70vw;
    max-width: 400px;
    margin: 50px auto 30px;
  }
}

.checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid #4d5066;
  transition: 250ms;
  cursor: pointer;
}

.checkbox-label:hover {
  border: 1.5px solid #3a7bfd;
}

.checkbox:checked + .checkbox-label {
  background: linear-gradient(#57ddff, #c058f3);
  border: none;
}

.checkbox:checked + .checkbox-label::after {
  content: url("../images/icon-check.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header .link-to-fury {
  text-decoration: none;
  transition: 250ms;
}
.header .link-to-fury:hover {
  transform: scale(1.05);
}
.header--text {
  color: #cacde8;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  user-select: none;
}
@media only screen and (max-width: 768px) {
  .header--text {
    font-size: 1.5rem;
  }
}
.header--toggler {
  width: 20px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.35));
  user-select: none;
  transition: 250ms;
}
.header--toggler:hover {
  transform: scale(1.2);
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #25273c;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.input--text {
  margin-left: 10px;
  width: 95%;
  height: 1.5rem;
  background: transparent;
  border: none;
  outline: none;
  color: #777a92;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
.input--text::placeholder {
  color: #4d5066;
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
.tasks {
  width: 100%;
  height: auto;
  background: #25273c;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.35), 0 0 120px rgba(0, 0, 0, 0.15);
  user-select: none;
  transition: 250ms;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border-bottom: 1px solid #4d5066;
  background: #25273c;
}
.task--text {
  position: relative;
  width: 90%;
  margin: 0 10px;
  color: #cacde8;
  font-size: 1rem;
  cursor: default;
  transition: 250ms;
}
.task--close {
  cursor: pointer;
  opacity: 0;
  transition: 250ms;
}

.task:hover .task--close {
  opacity: 1;
  transform: rotate(90deg);
}

.task--checkbox:checked ~ .task--text {
  color: #4d5066;
  text-decoration: line-through;
}

.draggable--container {
  border-radius: 3px 3px 0 0;
}

.task:first-child {
  border-radius: 3px 3px 0 0;
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 500ms;
  position: relative;
}
.footer--count {
  font-size: 14px;
  color: #4d5066;
}
.footer__filter {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 500ms;
}
@media only screen and (max-width: 768px) {
  .footer__filter {
    background: #25273c;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    padding: 10px 60px;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    transition: 50ms;
  }
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #4d5066;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: 100ms;
}
.btn:hover {
  color: #cacde8;
}
.btn.active:hover {
  color: #3a7bfd;
}

.btn.active {
  color: #3a7bfd;
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
.notask {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #4d5066;
  padding: 30px 80px;
  transition: 250ms;
}
@media only screen and (max-width: 768px) {
  .notask {
    padding: 30px;
  }
}
.notask__text {
  color: #777a92;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.notask__text-top {
  align-self: flex-start;
}
.notask__text-bottom {
  align-self: flex-end;
}
.notask__text--highlight {
  color: #cacde8;
  font-size: 42px;
  text-transform: uppercase;
  padding: 20px 0;
  text-shadow: 0 0 5px #3a7bfd;
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
.drag {
  margin-top: 40px;
  text-align: center;
  color: #4d5066;
  font-size: 0.7rem;
  user-select: none;
}
@media only screen and (max-width: 768px) {
  .drag {
    margin-top: 80px;
  }
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
body.light {
  background-image: url("../images/bg-mobile-light.jpg");
  background-color: #fafafa;
}
@media only screen and (max-width: 768px) {
  body.light {
    background-image: url("../images/bg-desktop-light.jpg");
  }
}
body.light .header--text {
  color: #fafafa;
}
body.light .input {
  background: #e4e5f1;
}
body.light .input--text {
  color: #484b6a;
}
body.light .input--text::placeholder {
  color: #9394a5;
}
body.light .tasks {
  background: #e4e5f1;
}
body.light .task {
  background: #e4e5f1;
}
body.light .task--text {
  color: #484b6a;
}
body.light .notask__text {
  color: #484b6a;
}
body.light .notask__text--highlight {
  color: #484b6a;
}
body.light .footer--count {
  color: #9394a5;
}
@media only screen and (max-width: 768px) {
  body.light .footer__filter {
    background: #e4e5f1;
  }
}
body.light .btn {
  background-color: transparent;
  color: #9394a5;
}
body.light .btn:hover {
  color: #484b6a;
}
body.light .btn.active {
  color: #3a7bfd;
}
body.light .checkbox-label {
  border: 1.5px solid #9394a5;
}
body.light .task--checkbox:checked ~ .task--text {
  color: #9394a5;
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
