.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	transition: 500ms;
	position: relative;

	&--count {
		font-size: 14px;
		color: $veryDarkGrayishBlue;
	}
	&__filter {
		width: 35%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: 500ms;

		@media only screen and (max-width: 768px) {
			background: $veryDarkDesaturatedBlue;
			position: absolute;
			width: 100%;
			top: 50px;
			left: 0;
			padding: 10px 60px;
			border-radius: 3px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
			transition: 50ms;
		}
	}
}

.btn {
	border: none;
	outline: none;
	background-color: transparent;
	color: $veryDarkGrayishBlue;
	font-family: $font;
	cursor: pointer;
	transition: 100ms;

	&:hover {
		color: $lightGrayishBlue;
	}

	&.active:hover {
		color: $brightBlue;
	}
}

.btn.active {
	color: $brightBlue;
}
