.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	transition: 500ms;

	&--count {
		font-size: 14px;
		color: $veryDarkGrayishBlue;
	}
	&__filter {
		width: 35%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
