::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: $checkBackground;
	width: 5px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: $font;
	background: $veryDarkBlue;
	background-image: url('../images/bg-desktop-dark.jpg');
	background-size: 100vw 0;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	margin: 100px auto 50px;
	animation: background 800ms 500ms forwards;
	transition: 500ms;
}

@keyframes background {
	0% {
		background-size: 100vw 0;
	}
	50% {
		background-size: 100vw 450px;
	}
	100% {
		background-size: 100vw 250px;
	}
}

.container {
	min-width: 400px;
	width: 35vw;
	height: auto;
	transition: 500ms;
}

.checkbox {
	display: none;
}

.checkbox-label {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1.5px solid $veryDarkGrayishBlue;
	transition: 250ms;
	cursor: pointer;
}

.checkbox:checked + .checkbox-label {
	background: $checkBackground;
	border: none;
}
.checkbox:checked + .checkbox-label::after {
	content: url('../images/icon-check.svg');
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn {
	border: none;
	outline: none;
	background-color: transparent;
	color: $veryDarkGrayishBlue;
	font-family: $font;
	cursor: pointer;
}
.btn.active {
	color: $brightBlue;
	font-weight: $font-bold;
}
