.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;

	.link-to-fury {
		text-decoration: none;
		transition: 250ms;

		&:hover {
			transform: scale(1.05);
		}
	}

	&--text {
		color: $lightGrayishBlue;
		text-transform: uppercase;
		font-size: 2rem;
		letter-spacing: 0.5rem;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
		user-select: none;

		@media only screen and (max-width: 768px) {
			font-size: 1.5rem;
		}
	}
	&--toggler {
		width: 20px;
		height: auto;
		object-fit: cover;
		cursor: pointer;
		filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.35));
		user-select: none;
		transition: 250ms;

		&:hover {
			transform: scale(1.2);
		}
	}
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
