.input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: $veryDarkDesaturatedBlue;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
	transition: 250ms;

	&--text {
		margin-left: 10px;
		width: 95%;
		height: 1.5rem;
		background: transparent;
		border: none;
		outline: none;
		color: $darkGrayishBlue;
		font-family: $font;
		font-size: 1rem;

		&::placeholder {
			color: $veryDarkGrayishBlue;
		}
	}
}

/***************************** Ashiq Fury : --> https://github.com/ashiqfury ****************************************/
